/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-content {
    flex: 1;
    text-align: center;
    margin-top: 200px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.login-button {
    background-color: #4CAF50;
}

.register-button {
    background-color: #008CBA;
}

.sidebar-form {
    width: 250px;
    margin-bottom: 2-3rem;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

.form-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-button {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

}
