@{
    ViewData["Title"] = "Admin";
}

<h1>Административная панель</h1>

<div>
    <h3>Добавить продукты в БД MSSQL</h3>
    <form method="post" action="/Admin/AddProducts">
        <label for="productName">Название:</label>
        <input type="text" id="productName" name="productName" required>

        <label for="productProteins">Белки:</label>
        <input type="text" id="productProteins" name="productProteins" required>

        <label for="productFats">Жиры:</label>
        <input type="text" id="productFats" name="productFats" required>

        <label for="productCarbohydrates">Углеводы:</label>
        <input type="text" id="productCarbohydrates" name="productCarbohydrates" required>

        <button type="submit">Добавить</button>
    </form>
</div>
