@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор калорий</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleForIndexCalcCalorie.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <h1>Калькулятор калорий</h1>

    <form>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Белки</th>
                    <th>Жиры</th>
                    <th>Углеводы</th>
                </tr>
            </thead>
            <tbody id="productRows">
                <tr>
                    <td>1</td>
                    <td>
                        <input type="text" class="product-name" name="name" />
                    </td>
                    <td><input type="text" class="product-proteins" name="proteins" /></td>
                    <td><input type="text" class="product-fats" name="fats" /></td>
                    <td><input type="text" class="product-carbs" name="carbs" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr id="totalRow">
                    <td></td>
                    <td><input type="text" name="totalName" value="Итого" readonly /></td>
                    <td><input type="text" name="totalProteins" /></td>
                    <td><input type="text" name="totalFats" /></td>
                    <td><input type="text" name="totalCarbs" /></td>
                </tr>
                <tr id="totalPer100gRow">
                    <td></td>
                    <td><input type="text" name="totalPer100gName" value="Итого на 100 грамм" readonly /></td>
                    <td><input type="text" name="totalPer100gProteins" /></td>
                    <td><input type="text" name="totalPer100gFats" /></td>
                    <td><input type="text" name="totalPer100gCarbs" /></td>
                </tr>
            </tfoot>
        </table>
        <button type="button" onclick="addNewRow()">Добавить новый продукт</button>
    </form>

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
